body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* Couleur de fond neutre */
    color: #333; /* Couleur du texte principal */
}

/* Navbar */
.navbar-dark .navbar-nav .nav-link {
    color: #d4af37; /* Couleur dorée pour les liens de la navbar */
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #fff; /* Couleur blanche pour le lien actif */
}

.navbar-dark .navbar-brand {
    color: #d4af37; /* Couleur dorée pour la marque */
}

/* Hero Section */
.hero {
    position: relative;
    color: rgb(57, 57, 57);
    text-align: center;
    background-color: #355e3b; /* Vert foncé pour le fond */
}

.hero .btn {
    background-color: #d4af37; /* Bouton doré */
    border: none;
}

/* About Section */
.about {
    background-color: #ece5b6; /* Beige clair pour le fond */
}

.about h2, .about p {
    color: #333; /* Couleur du texte */
}

/* Features Section */
.features {
    background-color: #4b
